<%= form_with model: [ @article, @article.comments.build ] do |form|%>
  <div class="bg-white dark:bg-gray-800">
    <div class="container mx-auto bg-white dark:bg-gray-800 rounded">
      <div class="xl mx-auto flex flex-col w-1/2">
        <div class="mt-8 flex flex-col">
          <%= form.label :body, class: "pb-2 text-sm font-bold text-blue-800 dark:text-gray-100"%><br>
          <%= form.text_area :body, class: "bg-transparent border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 resize-none placeholder-gray-500 text-gray-600 dark:text-gray-400", placeholder: "Let the world know what you want to comment in this article!", rows: 5 %>
        </div>
        <div class="mt-8 container mx-auto">
          <div class="w-full py-4 sm:px-0 bg-white dark:bg-gray-800 flex justify-center border border-separate  border-black">
            <%= form.label :status, class: "text-sm font-bold text-blue-800 dark:text-gray-100"%>
            <%= form.select :status, %w[public private archived], selected: 'public', class: "block appearance-none w-full"%>
          </div>
        </div>
        <br>
        <div class="container mx-auto">
          <div class="w-full py-4 sm:px-0 bg-white dark:bg-gray-800 flex justify-end">
            <%= form.submit class: 'focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 bg-indigo-700 focus:outline-none transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-2 text-sm'%>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
<%end%>
